{{template "header" .}}
<div class="py-4">
	<h2 class="pb-2 text-sm font-semibold text-gray-800">Current Images</h2>
	<div class="py-2 grid grid-cols-8 gap-2">
		{{range .Images}}
			<div class="h-min w-full relative">
				<!-- Add this part -->
				<div class="absolute top-2 right-2">
					{{template "delete_image_form" .}}
				</div>
				<img class="w-full" src="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}">
			</div>
		{{end}}
	</div>
</div>
  <!-- Danger Actions -->
  <!-- ... -->
</div>
{{template "footer" .}} {{define "delete_image_form"}}
<form
  action="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}/delete"
  method="post"
  onsubmit="return confirm('Do you really want to delete this image?');"
>
  {{csrfField}}
  <button
    type="submit"
    class="p-1 text-xs text-red-800 bg-red-100 border border-red-400 rounded"
  >
    Delete
  </button>
</form>
{{end}}
